if !session.user
	.navbar-form.navbar-right		
		button.btn.btn-default(type='button', data-toggle='modal', data-target='#loginModal') 로그인
else
	.navbar-form.navbar-right			
		img(src='#{session.user.profileImg}', style='width:30px;')
		&nbsp
		span #{session.user.nickname}
		&nbsp
		button.btn.btn-default(id='logoutBtn', type='button') 로그아웃
