if !session.user
	.navbar-form.navbar-right
		a(href="/users/new") 가입하기
		&nbsp;
		button.btn.btn-default(type='button', data-toggle='modal', data-target='#loginModal') 로그인
else
	form.navbar-form.navbar-right(action='/users/logout', method='get', role='login')
		.form-group			
			span #{session.user.nickname}
			&nbsp			
			button(type='submit', class='btn btn-default') 로그아웃
