mixin link(href, name)
  a(class!=attributes.class, href=href)= name

mixin bsBtn(name)
  button(type='button', class='btn ' + attributes.class, id=attributes.id, style=attributes.style)= name

mixin bsSubmitBtn(name)
  button(type='submit', class='btn ' + attributes.class, id=attributes.id, style=attributes.style)= name  