extends ../layout

block content
	.panel.panel-default
		.panel-heading
			h3.title=title
		.panel-body
			form(action='/users/login', method='post', class='col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3')
				.form-group
					label 이메일
					input(class='form-control', type='text', name='email')
				.form-group
					label 패스워드
					input(class='form-control', type='password', name='password')
				.form-actions
					input(class='btn btn-default', name='commit', type='submit', value='로그인')
					a(class='btn', href='/users') Cancel