extends ../layout

block content
	.panel.panel-default
		.panel-heading
			h3= title

		.panel-body
			table.table.table-striped
				thead
					tr
						th nickname
						th email

				tbody
					each user in users
						tr
							td=user.nickname
							td=user.email

