extends ../layout

block content
	.panel.panel-default
		.panel-heading
			h3= title

		.panel-body
			table.table.table-striped
				thead
					tr
						th email
						th password
						th nickname
				tbody
					each user in users
						tr
							td=user.email
							td=user.password
							td=user.nickname
							

