@import "../../bower_components/bootstrap/less/bootstrap.less";

@body-bg: #fce811;


.scripts {
	a.script {
		color: black;
		text-decoration: none;
	}
	a.script:hover {
		color: #666;
	}
	a.branch {
		color: blue;		
	}
	a.branch-current {
		color: green;
	}
	a.branch:hover {
		color: red;		
	}	
}