extends ../layout

block content
	.panel.panel-default
		.panel-heading
			h3= title
		.panel-body
			form(id='create', action='/branches/#{branch_id}/create', method='post', class='col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3')
				.form-group
					label 챕터 제목
					input(class='form-control', type='text', name='title')
				.form-group
					label 시놉시스
					textarea(id='textarea', class='form-control', rows='5', name='synopsis', placeholder='대략적인 챕터의 윤곽을 여기다 씀.')
				.form-group
					label 내용
					textarea(id='textarea', class='form-control', rows='5', name='script', placeholder='적어도 10자 이상은 써야함.')
				.form-actions
					input(class='btn btn-default', name='commit', type='submit', value='create')
					a(class='btn', href='/novels') Cancel

	script.
		$(document).ready(function(){
			$('#create').submit(function(e) {
				//스크립트 길이 체크
				var script = $('#script').val();
				if(script.length < 10) {
					alert('너무 짧아!');
					e.preventDefault();
					return;				
				}
			});
		});