extends ../layout

block content
	.panel.panel-default
		.panel-heading
			h2.title= title
		.panel-body
			form(action='/novels/create', method='post')
				.shadow-box
					h3.shadow-box-heading(style='font-family:cursive;') 소설
					.form-group
						label 제목
						input(class='form-control', type='text', name='title', placeholder='소설 제목은 꼭 적어라. 안그럼 나 힘들다...')
					.form-group
						label 타입
						select(class='form-control', name='type')
							option(value='public', selected=true) 공동소설 (각 챕터를 다른놈이 쓸 수 있단다.)
							option(value='private') 개인소설 (각 챕터를 니밖에 못 쓴단다.)
					.form-group
						label 시놉시스
						textarea(id='textarea', class='form-control', rows='5', name='synopsis', placeholder='대략적인 이야기 배경이라던가... 주인공 설정등을 여기다 써. 다름사람이 엉뚱한 이야기 쓰지 않도록..')
				
				.shadow-box
					h3.shadow-box-heading(style='font-family:cursive;') Chapter 1
					.form-group
						label 제목
						input(class='form-control', type='text', name='chapter_title', placeholder='챕터 제목이야. 왜 그런거 있잖슴? "그녀를 보았다" 뭐 이딴거...')
					.form-group
						label 타입
						select(class='form-control', name='chapter_type')
							option(value='private', selected=true) 개인챕터 (너만 챕터 중간에서 이야기 가지치기를 할 수 있어.)
							option(value='public') 공동챕터 (다른놈이 챕터 중간에서 이야기 가지치기를 할 수 있어.)
					.form-group
						label 내용
						textarea(id='textarea', class='form-control', rows='5', name='script', placeholder='이제 본격적인 첫 챕터 이야기를 여기다 써. 근데 한줄 쓸땐 적어도 10자 이상은 써야함.')

				.form-actions
					input(class='btn btn-default', name='commit', type='submit', value='create')
					a(class='btn', href='/novels') Cancel