extends ../layout

block content
	.panel.panel-default
		.panel-heading
			h2=novel.title
		.panel-body
			h4=branch.title
			.well
				each s in scripts
					span=s.text
		.panel-footer
			form(role='form', method='post',
						action='/novels/' + novel._id +
						'/branches/' + branch._id + '/write')
				.form-group
					textarea(class='form-control', rows='3', name='text')
				button.btn.btn-default(type='submit') 작성
