extends ../layout

block content
	.panel.panel-default
		.panel-heading
			span 타입: #{script.type}
		.panel-body
			.well.scripts
				each s in scripts
					&nbsp#{s.text}
		.panel-footer
			form(id='write', role='form', method='post', action='/scripts/#{script._id}/write')
				.form-group
					textarea(id='textarea', class='form-control', rows='5', name='text')
				button(type='submit', class='btn btn-default') 작성


	script.
		$(document).ready(function(){
			$('#textarea').keypress(function(e) {
				var code = (e.keyCode ? e.keyCode : e.which);
				if(code == 13 && e.shiftKey) {
					$('#write').submit();
				}				
			});
		});
